COMPOSE_PROJECT_NAME=slz-aiops
AIOPS_COMPOSE_PROFILES=
PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple
PIP_TRUSTED_HOST=pypi.tuna.tsinghua.edu.cn
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin123
CONSOLE_PORT=14000
AI_ENGINE_PORT=18080
JOB_RUNNER_PORT=18084
PLATFORM_BACKUP_RETENTION_DAYS=7
PROMETHEUS_PORT=19090
ALERTMANAGER_PORT=19093
GRAFANA_PORT=13000
LOKI_PORT=13100
BLACKBOX_PORT=19115
NGINX_STATUS_URI=http://127.0.0.1:8081/stub_status
MYSQL_EXPORTER_DSN=exporter:change_me@(127.0.0.1:3306)/
REDIS_EXPORTER_ADDR=redis://127.0.0.1:6379
REDIS_EXPORTER_PASSWORD=
CMDB_PORT=18081
NEO4J_IMAGE=neo4j:5.24.0
NEO4J_HTTP_PORT=17474
NEO4J_BOLT_PORT=17687
TEMPO_PORT=13200
NEO4J_AUTH=neo4j/change_me_now
DEMO_GATEWAY_PORT=18082
DEMO_ORDER_PORT=18083


